body {
  background-color: white;
}

/* start header */
.header{
  position: relative;
}

.alignHeader{
  position: absolute;
  width: 500px;
  top: 90px;
}


.TitleHeader{
  color: var(--colorText);
  font-size: 30px;
  font-weight: 800;
}

.TitleHeader2{
  color: var(--primary);
}

.subTitleHeader{
  color: var(--primary);
  font-weight: 600;
}

.btnHeader{
  border: none;
  background-color: var(--colorText);
  border: 1px solid var(--colorText);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 50px;
  box-shadow: none !important;
  font-weight: 600;
}

.imgHeader{
  width: 400px;
  height: 334px;
  object-fit: contain;
}

@media (max-width:768px) {
  .imgHeader{
    display: none !important;
  }
  .alignHeader{
    text-align: center;
    position: inherit;
    width: 100%;
  }
}
/* end header */



/* start apply now */
.applyNow{
  background-color: var(--primary);
  margin-top: 60px;
  padding: 20px;
  position: relative;
}

.desApply{
  position: absolute;
  top:25%;
}

.TitleApply{
  font-size: 30px;
  color: white;
}

.TitleApply2{
  color: var(--colorText);
}

.subTitleApply{
  color: #949da6;
  width: 600px;
}

.desApply{
  color: white;
}

.btnApply{
  border: none;
  background-color: var(--colorText);
  border: 1px solid var(--colorText);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 50px;
  box-shadow: none !important;
  font-weight: 600;
}

.btnApply:hover{
  background-color: white;
  border: 1px solid white;
  color: black;
  transition: .2s all ease-in;
}

.imageApply{
  width: 309px;
  height: 309px;
  object-fit: contain;
}

@media (max-width:768px) {
  .desApply{
    position: inherit;
    text-align: center;
  }

  .imageApply{
    margin-top: 20px;
  }
  .subTitleApply{
    width: 100%;
  }
}
/* end apply now */


/* start popular applications */
.famouspage {
  margin-top: 30px;
  padding: 50px;
  width: 100%;
  background-color: #969fa833;
}

.imagefamoustapps{
  height: 600px;
}

.orangetext {
  color: #f47624;
  font-weight: 600;
  font-size: 28px;
}

.orangetextbig {
  color: #f47624;
}

.darktext {
  color: var(--primary);
}

.shortdescription {
  font-size: 22px;
  color: #969fa8;
}

.manyimgtext{
  display: flex;
  justify-content: center;
}

.imgtext1 {
margin-top: 100px;
margin-left: 60px;
}

.imgtext2 {
  margin-top: 10px;
  margin-left: 60px;
}

.imgtext3 {
  margin-top: 80px;
}

.img {
  width: fit-content;
  border-radius: 20px;
}

.img img {
  height: 140px;
}

.text {
  font-weight: 400;
  font-size: x-large;
  text-align: center;
}

.descreptiontext {
  font-size: 18px;
}

@media (max-width:768px) {
  .text {
    font-size: large;
  }
  .orangetext{
    text-align: center;
  }
  .shortdescription {
    font-size: 15px;
  }
  .imagefamoustapps{
    display: none;
  }
  .text{
    font-size: medium;
  }
  .img img {
    height: 60px;
    margin: 10px ;
  }
  .descreption ,.descreptiontext,.orangetextbig {
    justify-content: center;
    width: 100%;
    position: inherit;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    font-size: 15px;
  }
  .imgtext2,.imgtext3,.imgtext1 {
    margin: 10px 15px;
  }
  .manyimgtext{
    display: flex;
    justify-content: center;
  }
  .famouspage {
    position: inherit;
    padding: 20px;
  }
  .orangetext{
    text-align: center;
    padding: 0;
  }
}

/* end popular applications */
