/* start header */
.TitleHeader{
  color: var(--colorText);
  font-size: 30px;
  font-weight: 800;
}

.TitleHeader2{
  color: var(--primary);
}

.subTitleHeader{
  color: var(--primary);
  font-weight: 600;
}

.btnHeader{
  border: none;
  background-color: var(--colorText);
  border: 1px solid var(--colorText);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 50px;
  box-shadow: none !important;
  font-weight: 600;
}

.imgHeader{
  width: 400px;
  height: 334px;
  object-fit: contain;
}

@media (max-width:768px) {
  .imgHeader{
    display: none !important;
  }
  .alignHeader{
    text-align: center;
  }
}
/* end header */



/* start apply now */
.applyNow{
  background-color: var(--primary);
  margin-top: 60px;
  padding: 20px;
  position: relative;
}

.desApply{
  position: absolute;
  top:25%;
  right: 10%;
}

.TitleApply{
  font-size: 30px;
  color: white;
}

.TitleApply2{
  color: var(--colorText);
}

.subTitleApply{
  color: #949da6;
}

.desApply{
  color: white;
}

.btnApply{
  border: none;
  background-color: var(--colorText);
  border: 1px solid var(--colorText);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 50px;
  box-shadow: none !important;
  font-weight: 600;
}

.btnApply:hover{
  background-color: white;
  border: 1px solid white;
  color: black;
  transition: .2s all ease-in;
}

.imageApply{
  width: 309px;
  height: 309px;
  object-fit: contain;
}

@media (max-width:768px) {
  .desApply{
    position: inherit;
    text-align: center;
  }

  .imageApply{
    margin-top: 20px;
  }
}
/* end apply now */
