<app-header></app-header>

<!-- start header -->
<div class="header">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 col-md-6">
        <div class="alignHeader sm:mt-3 md:mt-5">
          <h1 class="TitleHeader"> ادارة الأعمال فى نظام<span class="TitleHeader2"> اكسيم </span></h1>
          <p class="mt-3 subTitleHeader">استخدم كافة التطبيقات المضمنة ف نظام اكسيم معا لفعالية أكبر أو فعل م تحتاجه منها فقط حسب احتياجات أعمالك</p>
          <button class="btnHeader mt-3">ابدأ الأستخدام الأن</button>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img class="imgHeader img-responsive mx-auto d-block" src="assets/images/carousal/sliderHeader.jpg" alt="apply now image" loading="lazy">
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<app-ourservices></app-ourservices>

<!-- start apply now -->
<div class="applyNow">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="desApply">
          <h1 class="TitleApply">هل أنت جاهز <span class="TitleApply2">للانطلاق ؟</span></h1>
          <p class="mt-3 subTitleApply">ان تكون مؤسسـة إكسيم داعم اسـاسى لنجاح و تطوير اعمالك الصغيرة و الكبيرة من خلال تقديم العديد من البرامج والإدارات لمساعدتك في إدارة أعمالك والتسويق من خلال منصة إكسيم ويعد حلقة الوصل بين مجال عملك والمستفيدين</p>
          <button class="btnApply mt-3">قدم طلبك الأن</button>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img class="imageApply img-responsive mx-auto d-block" src="assets/images/applynow/applynow.png" alt="apply now image" loading="lazy">
      </div>
    </div>
  </div>
</div>
<!-- end apply now -->

<!-- <app-ourprogram></app-ourprogram> -->

<app-testimonials></app-testimonials>

<!-- start popular application -->
<div class="famouspage">
  <div class="container">
    <h1 class="orangetext text-center">أشهر <span class="darktext">تطبيقاتـــنا</span></h1>
    <div class="row">
      <div class="col-12 col-md-8">
        <p class="shortdescription mt-3">تقدم منصة إكسيم العديد من التطبيقات التي تحتاجها في حياتك اليومية مثل</p>
        <div class="container">
          <div class="manyimgtext">
            <div class="imgtext1">
              <div class="img">
                <img src="assets\images\applications\tubeex.png" alt="tubeex">
              </div>
              <h2 class="text">تيوب اكس</h2>
            </div>
            <div class="imgtext2">
              <div class="img">
                <img src="assets\images\applications\driveex.png" alt="driveex">
              </div>
              <h2 class="text">درايف اكس</h2>
            </div>
            <div class="imgtext3">
              <div class="img">
                <img src="assets\images\applications\chatex.png" alt="chatex">
              </div>
              <h2 class="text">شات اكس</h2>
            </div>
          </div>
        </div>
          <p class="descreptiontext mt-4">
            يمكنك استخدام كل هذا وأكثر من خلال إنشاء حساب واحد فقط مع الإستمتاع بالعديد من المميزات المتاحه بكل تطبيق
            لسهولة الإستخدام"فنحن نؤمن دائما بأن "<span class="orangetextbig"> كل ما هو ذكي هو سهل</span>".
          </p>
      </div>
      <div class="col-12 col-md-4">
        <img class="imagefamoustapps" src="assets\images\applications\famoustimg.png" alt="famoust apps" loading="lazy">
      </div>
    </div>
  </div>
</div>

<!-- end popular application -->

<app-brand></app-brand>

<app-ournews></app-ournews>

<app-footer></app-footer>

