body {
  background-color: var(--primary);
  /* background-image: url("../../../assets/images/confirmemail/confirm.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; */
}

.data{
  position: absolute;
  right: 43%;
  top: 30%;
  text-align: center;
  color: white;
}

.logo{
  width: 180px;
  height: 75px;
  position: relative;
}

.title{
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.subtitle{
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.downTitle{
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.downTitle2{
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.line{
  border: 1px solid var(--primary);
  width: 65%;
  margin: auto;
}

.goBack{
  text-decoration: underline;
  font-weight: bolder;
  color: var(--colorText);
}

.btnLogin{
  border: none;
  box-shadow: none;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
}

.btnLogin:hover{
  border: none;
  box-shadow: none;
  background-color: var(--colorText);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  transition: .3s all ease-in-out;
}

