<!-- start verfied email -->
<div class="confirmEmail">
  <div class="container mt-4">
    <!-- image logo -->
    <img class="logo" src="assets/images/logo/logowhite.png" alt="image logo" loading="lazy">

    <div class="data">
      <div class="form-group">
        <input hidden formControlName="email" type="email">
      </div>

      <div class="form-group">
        <input hidden formControlName="token" type="text">
      </div>
      <h1 class="title">لقد تم تأكيد حسابك</h1>
      <p class="subtitle mt-4"> يمكنك الان تسجيل الدخول</p>
      <button class="btnLogin" onclick="window.location.href='/login'">تسجيل الدخول</button>
    </div>
  </div>
</div>
<!-- end verfied email -->
