<!-- start header -->
  <nav class="navbar navbar-expand-sm shadow-sm bg-white sticky-top m-0 p-0">
    <div class="container">
        <i class="fas fa-bars  fa-2x mt-2 mr-3" data-bs-toggle="offcanvas" data-bs-target="#demo"></i>
        <a routerLink="/home"> <img class="logo-navbar p-1" src="assets/images/logo/logo.png" width="130" height="60"
                alt="image logo" loading="lazy"> </a>
        <div class="offcanvas offcanvas-end" id="demo">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title"><a routerLink="/home"> <img src="assets/images/logo/logo.png" width="80"
                            height="60" alt="image menu" loading="lazy"></a></h1>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button> -->
                <i class="fa fa-times text-white" data-bs-dismiss="offcanvas"></i>
            </div>
            <div class="offcanvas-body col justify-content-md-between">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/shopix">شوب اكــس</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/contact">تواصل معنا</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/filter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                      </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="auth">
          <!-- welcome dropdown -->
          <div class="dropdown">
            <li class="nav-item d-none d-sm-block d-flex" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <a class="nav-link d-flex align-items-center chevron-active" href="#">
                  <div class="avatar" *ngIf="isLogin">
                    <p class="letter">{{usercharchter}}</p>
                  </div>
                    <div class="d-flex textWelcome align-items-center" *ngIf="isLogin">
                      <p class="wel m-0 p-0">أهلاً <br><p class="m-0 p-0">{{username}}!</p></p>
                      <i class="chevron-i fas fa-caret-down d-flex mt-3 me-2"style="display: block !important;"></i>
                    </div>
                </a>
            </li>
            <ul class="dropdown-menu m-0 p-0" aria-labelledby="dropdownMenuButton1" *ngIf="isLogin">
                <li>
                    <a class="dropdown-item hover-it">
                      حسابي
                    </a>
                </li>
                <li>
                    <a class="dropdown-item hover-it">معاملاتى</a>
                </li>
                <li>
                    <a class="dropdown-item hover-it">
                      <button class="btnLogout border-0" (click)="logout()">تسجيل الخروج</button>
                    </a>
                </li>
            </ul>
          </div>
          <!-- avatar profile -->
          <!-- <div class="d-flex align-items-center">
            <div class="avatar" *ngIf="(isLogin$|async)as loginStatues">
              <p class="letter">أ</p>
              <button (click)="logout()">remove</button>
            </div>
            <div class="d-block textWelcome" *ngIf="(isLogin$|async)as loginStatues">
              <p class="m-0 p-0 wel">مرحبا,</p>
              <p class="name">أحمد سراج</p>
            </div>
          </div> -->
          <!-- button login -->
          <button *ngIf="!isLogin" class="btnLogin" onclick="window.location.href='/login'">دخـول</button>
          <!-- button login free -->
          <button *ngIf="!isLogin" class="btnLoginFree" onclick="window.location.href='/register'">سجل الأن مجانا</button>
        </div>
    </div>
  </nav>
  <!--end header  -->


  <!-- start scroll to top -->
<button
class="scroll-to-top"
(waiting)="scrollBtn()"
(click)="upbtn()"
[hidden]="!upBtn"
>
<i class="fas fa-long-arrow-alt-up text-white shadow-lg"></i>
</button>
<!-- end scroll to top -->
