
<div class="container">
  <h1 class="text1 text-center">شهادة <span class="text2">عملائنا</span></h1>
  <div class="row">
    <div class=" col-md-8">
      <swiper class="swiper"
      [slidesPerView]="1"
      [loop]="true"
      [autoplay] = "{delay: 3000}">
      <ng-template swiperSlide>
        <div class="container">
          <img class="quote" src="assets/images/testimonials/left.png" alt="quote img" loading="lazy">
          <div class="row ti">
            <div class="col-2 col-md-2 mov">
              <img src="assets/images/testimonials/avatar.png" class="swipimg" alt="this is the user photo">
            </div>
            <div class="col-10 col-md-10 mov">
              <h2 class="stitle">منصة إكسيم من افضل الأماكن الي اتعاملت معاها شغل منظم جدا وتعامل راقي فاهمين الشغل فعلا وساعدوني كتير اني انظم شغلي من خلال حاجات كتير بيقدموها وبسعر لا يذكر مقابل القيمة حقيقي مش ندمان من التجربة دي وديما في تقدم</h2>
              <h1 class="sname">محمد عبدالرحمن</h1>
              <p class="sca">محامي</p>
              <img class="quotee" src="assets/images/testimonials/right.png" alt="quote img" loading="lazy">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="container">
          <img class="quote" src="assets/images/testimonials/left.png" alt="quote img" loading="lazy">
          <div class="row ti">
            <div class="col-2 col-md-2 mov">
              <img src="assets/images/testimonials/avatar.png" class="swipimg" alt="this is the user photo">
            </div>
            <div class="col-10 col-md-10 mov">
              <h2 class="stitle">منصة إكسيم من افضل الأماكن الي اتعاملت معاها شغل منظم جدا وتعامل راقي فاهمين الشغل فعلا وساعدوني كتير اني انظم شغلي من خلال حاجات كتير بيقدموها وبسعر لا يذكر مقابل القيمة حقيقي مش ندمان من التجربة دي وديما في تقدم</h2>
              <h1 class="sname">محمد عبدالرحمن</h1>
              <p class="sca">محامي</p>
              <img class="quotee" src="assets/images/testimonials/right.png" alt="quote img" loading="lazy">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="container">
          <img class="quote" src="assets/images/testimonials/left.png" alt="quote img" loading="lazy">
          <div class="row ti">
            <div class="col-2 col-md-2 mov">
              <img src="assets/images/testimonials/avatar.png" class="swipimg" alt="this is the user photo">
            </div>
            <div class="col-10 col-md-10 mov">
              <h2 class="stitle">منصة إكسيم من افضل الأماكن الي اتعاملت معاها شغل منظم جدا وتعامل راقي فاهمين الشغل فعلا وساعدوني كتير اني انظم شغلي من خلال حاجات كتير بيقدموها وبسعر لا يذكر مقابل القيمة حقيقي مش ندمان من التجربة دي وديما في تقدم</h2>
              <h1 class="sname">محمد عبدالرحمن</h1>
              <p class="sca">محامي</p>
              <img class="quotee" src="assets/images/testimonials/right.png" alt="quote img" loading="lazy">
            </div>
          </div>
        </div>
      </ng-template>
      </swiper>
    </div>
    <div class="col-md-4">
      <img class="imgs" src="assets/images/testimonials/Clint-network.png" alt="this si a photo" loading="lazy">
    </div>
  </div>
</div>
