<div class="ourNews">
  <h1 class="text1 text-center">أخبار <span class="text2">قد تهمك</span></h1>
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">#أخبار عامة</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">#أخبار تعليم</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">#أخبار القضاء العالى</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <swiper class="text-center mt-3"
        [slidesPerView]="3"
        [spaceBetween]="50"
        [loop]="true"
        [breakpoints]="{
          '0': {
            slidesPerView: 1,
            spaceBetween: 30
          },
          '600': {
            slidesPerView: 1.5,
            spaceBetween: 40
          },
          '1000': {
            slidesPerView: 3,
            spaceBetween: 50
          }
        }"
        [autoplay]= "{
          delay: 3000,
          disableOnInteraction: false
          }"
        >
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">وزير التعليم: لا تعطيل للدراسة ف مصر.. والتدريس مستمر حتى 10..</h1>
          <p class="subTitle m-0 p-0">يتساءل الكثير من المواطنين، عن تنظيم القانون لطلب الاستدعاء من النيابة العامة، وعدم الالتزام بهذا الطلب، و"اليوم السابع" يوضح فى النقاط التالية ... كيف ينظم القانون تلك الوقائع</p>
          <div class="d-flex justify-content-between align-items-center mt-2 showAll">
            <p>يناير 2022 30 <span>#أخبار تعليم</span></p>
            <p class="readMore">قراءة المزيد <i class="fas fa-arrow-left text-black m-1"></i></p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news2.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">ماذا تعرف عن استدعاء النيابة للمتهمين والشهود وكيف تتصرف حال عدم الحضور؟</h1>
          <p class="subTitle">يتساءل الكثير من المواطنين، عن تنظيم القانون لطلب الاستدعاء من النيابة العامة، وعدم الالتزام بهذا الطلب، و"اليوم السابع" يوضح فى النقاط التالية ... كيف ينظم القانون تلك الوقائع</p>
          <div class="d-flex justify-content-between align-items-center mt-2 showAll">
            <p>يناير 2022 30 <span>#أخبار تعليم</span></p>
            <p class="readMore">قراءة المزيد <i class="fas fa-arrow-left text-black m-1"></i></p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news3.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة للمحامين</h1>
          <p class="subTitle">استقبل المستشار عمر سويدان، رئيس محكمة المنيا الابتدائية، صباح اليوم، وفد مجلس النقابة العامة للمحامين برئاسة الأستاذ مجدي سخى، القائم بأعمال نقيب المحامين، على هامش حضور أعضاء المجلس جلسة محاكمة الأساتذة المحامين في القضية المعروفة إعلاميا بـ «محامين مغاغة»، والتي تنظرها محكمة جنايات المنيا.</p>
          <div class="d-flex justify-content-between align-items-center mt-2 showAll">
            <p>يناير 2022 30 <span>#أخبار تعليم</span></p>
            <p class="readMore">قراءة المزيد <i class="fas fa-arrow-left text-black m-1"></i></p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news3.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة للمحامين</h1>
          <p class="subTitle">استقبل المستشار عمر سويدان، رئيس محكمة المنيا الابتدائية، صباح اليوم، وفد مجلس النقابة العامة للمحامين برئاسة الأستاذ مجدي سخى، القائم بأعمال نقيب المحامين، على هامش حضور أعضاء المجلس جلسة محاكمة الأساتذة المحامين في القضية المعروفة إعلاميا بـ «محامين مغاغة»، والتي تنظرها محكمة جنايات المنيا.</p>
          <div class="d-flex justify-content-between align-items-center mt-2 showAll">
            <p>يناير 2022 30 <span>#أخبار تعليم</span></p>
            <p class="readMore">قراءة المزيد <i class="fas fa-arrow-left text-black m-1"></i></p>
          </div>
        </ng-template>
        </swiper>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <swiper class="text-center mt-3"
        [slidesPerView]="3"
        [spaceBetween]="50"
        [loop]="true"
        [breakpoints]="{
          '0': {
            slidesPerView: 1,
            spaceBetween: 30
          },
          '600': {
            slidesPerView: 1.5,
            spaceBetween: 40
          },
          '1000': {
            slidesPerView: 3,
            spaceBetween: 50
          }
        }"
        [autoplay]= "{
          delay: 3000,
          disableOnInteraction: false
          }"
        >
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">وزير التعليم: لا تعطيل للدراسة ف مصر.. والتدريس مستمر حتى 10..</h1>
          <p class="subTitle">يتساءل الكثير من المواطنين، عن تنظيم القانون لطلب الاستدعاء من النيابة العامة، وعدم الالتزام بهذا الطلب، و"اليوم السابع" يوضح فى النقاط التالية ... كيف ينظم القانون تلك الوقائع</p>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news2.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">ماذا تعرف عن استدعاء النيابة للمتهمين والشهود وكيف تتصرف حال عدم الحضور؟</h1>
          <p class="subTitle">يتساءل الكثير من المواطنين، عن تنظيم القانون لطلب الاستدعاء من النيابة العامة، وعدم الالتزام بهذا الطلب، و"اليوم السابع" يوضح فى النقاط التالية ... كيف ينظم القانون تلك الوقائع</p>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news3.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة للمحامين</h1>
          <p class="subTitle">استقبل المستشار عمر سويدان، رئيس محكمة المنيا الابتدائية، صباح اليوم، وفد مجلس النقابة العامة للمحامين برئاسة الأستاذ مجدي سخى، القائم بأعمال نقيب المحامين، على هامش حضور أعضاء المجلس جلسة محاكمة الأساتذة المحامين في القضية المعروفة إعلاميا بـ «محامين مغاغة»، والتي تنظرها محكمة جنايات المنيا.</p>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news3.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة للمحامين</h1>
          <p class="subTitle">استقبل المستشار عمر سويدان، رئيس محكمة المنيا الابتدائية، صباح اليوم، وفد مجلس النقابة العامة للمحامين برئاسة الأستاذ مجدي سخى، القائم بأعمال نقيب المحامين، على هامش حضور أعضاء المجلس جلسة محاكمة الأساتذة المحامين في القضية المعروفة إعلاميا بـ «محامين مغاغة»، والتي تنظرها محكمة جنايات المنيا.</p>
        </ng-template>
        </swiper>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <swiper class="text-center mt-3"
        [slidesPerView]="3"
        [spaceBetween]="50"
        [loop]="true"
        [breakpoints]="{
          '0': {
            slidesPerView: 1,
            spaceBetween: 30
          },
          '600': {
            slidesPerView: 1.5,
            spaceBetween: 40
          },
          '1000': {
            slidesPerView: 3,
            spaceBetween: 50
          }
        }"
        [autoplay]= "{
          delay: 3000,
          disableOnInteraction: false
          }"
        >
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">وزير التعليم: لا تعطيل للدراسة ف مصر.. والتدريس مستمر حتى 10..</h1>
          <p class="subTitle">يتساءل الكثير من المواطنين، عن تنظيم القانون لطلب الاستدعاء من النيابة العامة، وعدم الالتزام بهذا الطلب، و"اليوم السابع" يوضح فى النقاط التالية ... كيف ينظم القانون تلك الوقائع</p>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news2.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">ماذا تعرف عن استدعاء النيابة للمتهمين والشهود وكيف تتصرف حال عدم الحضور؟</h1>
          <p class="subTitle">يتساءل الكثير من المواطنين، عن تنظيم القانون لطلب الاستدعاء من النيابة العامة، وعدم الالتزام بهذا الطلب، و"اليوم السابع" يوضح فى النقاط التالية ... كيف ينظم القانون تلك الوقائع</p>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news3.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة للمحامين</h1>
          <p class="subTitle">استقبل المستشار عمر سويدان، رئيس محكمة المنيا الابتدائية، صباح اليوم، وفد مجلس النقابة العامة للمحامين برئاسة الأستاذ مجدي سخى، القائم بأعمال نقيب المحامين، على هامش حضور أعضاء المجلس جلسة محاكمة الأساتذة المحامين في القضية المعروفة إعلاميا بـ «محامين مغاغة»، والتي تنظرها محكمة جنايات المنيا.</p>
        </ng-template>
        <ng-template swiperSlide>
          <img class="imgNews" src="assets/images/ournews/news3.png" alt="news image" loading="lazy">
          <h1 class="title mt-2">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة للمحامين</h1>
          <p class="subTitle">استقبل المستشار عمر سويدان، رئيس محكمة المنيا الابتدائية، صباح اليوم، وفد مجلس النقابة العامة للمحامين برئاسة الأستاذ مجدي سخى، القائم بأعمال نقيب المحامين، على هامش حضور أعضاء المجلس جلسة محاكمة الأساتذة المحامين في القضية المعروفة إعلاميا بـ «محامين مغاغة»، والتي تنظرها محكمة جنايات المنيا.</p>
        </ng-template>
        </swiper>
      </div>
    </div>

  </div>
</div>
