<!-- start forgetpassword page -->
<div class="container">
  <div class="row">
    <!-- data login -->
    <div class="col-12 col-md-6">
      <img class="imageLogoMobile mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <form class="alignForm text-center" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmitForget()">
        <h1 class="textForget m-0 p-0">نسيت <span class="textForget2">كلمة السر ؟</span></h1>
        <p class="line"></p>
        <h1 class="textLogin m-0 p-0">قم بادخال ايميلك لاعادة توجيه كلمة السر </h1>
        <div class="form-group">
          <input formControlName="email" type="email" id="mail" placeholder="الايميل">
          <br>
          <small *ngIf="forgetPasswordForm.get('email')?.invalid &&forgetPasswordForm.get('email')?.touched" class="text-danger">برجاء ادخال البريد الالكتروني   </small>
        </div>

        <button class="btn mt-4" type="submit">ارسال </button>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <!-- image logo -->
      <img class="imageLogo mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <!-- image login -->
      <img class="imgForget" src="assets/images/forgetpassword/forget.svg" alt="image register" loading="lazy">
    </div>
  </div>
</div>
<!-- end forgetpassword page -->
