/* start forgetpassword */
.imageLogo{
  width: 343px;
  height: 118px;
  margin-top: 90px;
}

.textLogin{
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  color: black;
  margin-top: 30px;
}

.imgForget{
  width: 100%;
  height: 600px;
}

@media (max-width:768px) {
  .imgForget{
    display: none;
  }
}
/* end forgetpassword */
