<!-- start forgetpassword page -->
<div class="container">
  <div class="row">
    <!-- data login -->
    <div class="col-12 col-md-6">
      <img class="imageLogo mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <form class="text-center" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmitForget()">
        <h1 class="textLogin">قم بادخال ايميلك لاعادة توجيه كلمة السر </h1>

        <div class="form-group">
          <input formControlName="email" type="email" id="mail" placeholder="الايميل">
          <small *ngIf="forgetPasswordForm.get('email')?.invalid &&forgetPasswordForm.get('email')?.touched" class="text-danger">برجاء ادخال البريد الالكتروني   </small>
        </div>

        <input class="mt-4" type="submit" name="" id="" value="ارسال">
      </form>
    </div>
    <div class="col-12 col-md-6">
      <!-- image login -->
      <img class="imgForget" src="assets/images/forgetpassword/forget.svg" alt="image register" loading="lazy">
    </div>
  </div>
</div>
<!-- end forgetpassword page -->
