body {
  background-color: #FAFAFB;
}

/* filter search */
.searchinput{
  color: black !important;
  border-radius: 8px !important;
  border-top-left-radius:0px !important;
  border-bottom-left-radius:0px !important;
  background-color: white !important;
  border: 0 !important;
  padding: 10px 20px !important;
  width: 100% !important;
}
.searchinput:focus{
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.searchbtn{
  border-radius: 8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  font-weight: bolder;
  font-size: 13px;
  margin-bottom: 15px;
  background-color: var(--primary);
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  color: white;
}
/* end filter search */


/* start product swiper */
.mainImageProduct{
  width: 350px;
  height: 300px;
}

.imgProduct{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.buttonSize{
  background-color: white;
  border: 1px solid var(--primary);
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--primary);
  font-weight: 600;
  font-size: 19px;
}

.buttonSize:hover{
  background-color: var(--colorText);
  transition: .3 all ease;
}

.btn-check:checked+.btn-secondary{
  background-color: var(--primary) !important;
  border-color: none !important;
  outline: none !important;
}
/* end product swiper */
