
<app-header></app-header>

<!--start filter search -->
<div class="search">
  <div class="container">
    <div class="d-flex align-items-center text-center mt-5">
      <input type="text" placeholder="البحث ف لازوردى"  class="searchinput">
      <button class="searchbtn mt-2">بحـــث</button>
    </div>
  </div>
</div>
<!--end filter search -->

<div class="container">
  <div class="row">
    <div class="col-12 col-md-4"></div>
    <div class="col-12 col-md-8"></div>
  </div>
</div>





<app-footer></app-footer>
