<!-- start confirm email -->
<div class="confirmEmail">
  <div class="container mt-4">
    <!-- image logo -->
    <img class="logo" src="assets/images/logo/logowhite.png" alt="image logo" loading="lazy">

    <div class="data">
      <h1 class="title">أوشكت على الوصول …</h1>
      <p class="subtitle mt-4">يرجى التحقق من بريدك الإلكتروني ({{getData}})
        لتأكيد حسابك.</p>
        <p class="line mt-4"></p>
        <p class="downTitle mt-3 p-0">إذا لم يكن {{getData}} هو عنوان بريدك الإلكتروني ، <span class="goBack"><a href="/register">فيرجى الرجوع</a></span> وإدخال الايميل الصحيح.</p>
        <p class="downTitle2 mt-3">إذا لم تستلم بريدك الإلكتروني خلال 15 دقيقة ، فيرجى التحقق من مجلد <span class="fw-bolder">الرسائل غير المرغوب فيها</span>.</p>
    </div>
  </div>
</div>
<!-- end confirm email -->
