<!-- start login page -->
<div class="container">
  <div class="row">
    <!-- data login -->
    <div class="col-12 col-md-6">
      <img class="imageLogo mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <form action="" class="text-center">
        <h1 class="textLogin">تسجيل الدخول</h1>
        <input type="text" name="" id="" placeholder="الايميل">
        <input type="password" name="" id="" placeholder="كلمة السر">
        <a routerLink="/forgetpassword">
          <h1 class="forgetPassword">نسيت كلمة سر!</h1>
        </a>
        <input class="mt-4" type="submit" name="" id="" value="تسجيل الدخول">
        <a routerLink="/register">
          <h1 class="textLog mt-3" data-bs-toggle="tooltip" data-bs-placement="top" title="ليس لدى حساب؟ انشاء حساب جديد">
            <span class="haveAccount"> ليس لدى حساب؟</span>  أنشاء حساب جديد
          </h1>
        </a>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <!-- image login -->
      <img class="imgLogin" src="assets/images/login/login.svg" alt="image register" loading="lazy">
    </div>
  </div>
</div>
<!-- end login page -->
