<!-- start login page -->
<div class="container">
  <div class="row">
    <!-- data login -->
    <div class="col-12 col-md-6">
      <img class="imageLogoMobile mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <form class="alignForm text-center" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
        <h1 class="textLogin m-0 p-0">تسجيل <span class="textLogin2">الدخول</span></h1>
        <p class="line"></p>
        <div class="form-group">
          <input formControlName="email" type="text" id="email" placeholder="الايميل">
          <br>
          <small *ngIf="loginForm.get('email')?.invalid &&loginForm.get('email')?.touched" class="text-danger validationText">* برجاء ادخال البريد الالكتروني</small>
        </div>

        <div class="form-group">
          <input formControlName="password" type="password" id="passowrd" placeholder="كلمة السر">
          <br>
          <small *ngIf="loginForm.get('password')?.invalid &&loginForm.get('password')?.touched" class="text-danger validationText">* برجاء ادخال كلمة السر </small>
        </div>

        <a routerLink="/forgetpassword">
          <h1 class="forgetPassword">نسيت كلمة سر!</h1>
        </a>
        <button class="btn mt-4" type="submit">تسجيل الدخول</button>
        <a routerLink="/register">
          <h1 class="textLog mt-3" data-bs-toggle="tooltip" data-bs-placement="top" title="ليس لدى حساب؟ انشاء حساب جديد">
            <span class="haveAccount"> ليس لدى حساب؟</span>  أنشاء حساب جديد
          </h1>
        </a>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <!-- image logo -->
      <img class="imageLogo mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <!-- image login -->
      <img class="imgLogin" src="assets/images/login/login.svg" alt="image register" loading="lazy">
    </div>
  </div>
</div>
<!-- end login page -->
