<app-header></app-header>

<!-- start slider -->
<div class="container">
  <div class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/carousal/slider.png" class="d-block w-100" alt="image slider" loading="lazy">
        </div>
        <div class="carousel-item">
          <img src="assets/images/carousal/slider2.png" class="d-block w-100" alt="image slider" loading="lazy">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- end slider -->


<!-- start swiper products -->
<div class="swiperProducts">
  <div class="container">
    <div class="d-flex align-items-center">
      <p class="title">شوب <span class="title2">اكس</span></p>
      <p class="alignText">أشهر الخدمات والمنتجات</p>
    </div>
<!-- products & services -->
    <swiper class="mt-3"
      [slidesPerView]="6"
      [spaceBetween]="50"
      [loop]="true"
      [grabCursor]="true"
      [breakpoints]="{
        '0': {
          slidesPerView: 2.5,
          spaceBetween: 20
        },
        '600': {
          slidesPerView: 4,
          spaceBetween: 20
        },
        '1000': {
          slidesPerView: 6,
          spaceBetween: 20
        }
      }"
      [autoplay]="{
      delay: 3000,
      disableOnInteraction: false
    }">
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/logistics.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">الشحن واللوجيستيات</h1>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/sports.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">المراكز الرياضية</h1>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/education.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">المراكز التعليمية</h1>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/lawyer.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">أعمال المحاماة</h1>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/cars.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">معارض بيع وتأجير</h1>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/jewellery.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">محل الذهب والجوهرات</h1>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/operations.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">مراكز التجميل</h1>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/labs.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">معامل التحاليل الطبية</h1>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="content">
          <img class="imageCategory" src="assets/images/shopix/clinic.png" alt="image products" loading="lazy">
          <h1 class="titleProducts mt-1">العيادات والمراكز الطبية</h1>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
<!-- end swiper products -->

<!-- start categories -->
<div class="categories mt-4">
  <div class="container">
    <div class="row">

      <div class="col-md-3 d-none d-sm-block">
        <app-filtercategory></app-filtercategory>
      </div>

      <div class="col-md-9">
        <div class="d-flex justify-content-between align-items-center">
          <p class="pagination d-none d-sm-block">عرض 1-6 من 1000</p>
          <p class="d-flex align-items-center textOrg">ترتيب حسب
            <span>
              <div class="dropdown">
                <button class="button-filter dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  الأعلى سعرا
                </button>
                <ul class="dropdown-menu m-0 p-0" aria-labelledby="dropdownMenuButton1">
                  <li class="p-0"><a class="dropdown-item" routerLink="">Most Popular</a></li>
                  <li class="p-0"><a class="dropdown-item" routerLink="">Price Low To High</a></li>
                  <li class="p-0"><a class="dropdown-item" routerLink="">Price High To Low</a></li>
                </ul>
              </div>
            </span>
          </p>
          <div class="d-none d-sm-block">
            <div class="filter-buttons d-flex align-items-center">
              <p class="textGrid mt-2">طريقة العرض</p>
              <div class="gridListBtn" id="grid">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                  class="bi bi-grid gridImage active-color-filter" viewBox="0 0 16 16">
                  <path
                    d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                </svg>
              </div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" id="list"
                  class="bi bi-list listImage gridListBtn" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <ul class="list grid-view-filter ul-filter">

          <li class="box-for-categories shadow-sm mb-3" style="position: relative;">
            <a routerLink="/shopixproducts">
              <img src="assets/images/shopix/lazurdy.png" alt="favourite" loading="lazy" class="image">
            </a>
            <div class="data p-2 w-100">
              <a routerLink="/shopixproducts">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="desc">
                    <h1 class="textProduct fw-bolder">لازوردى</h1>
                    <p class="subTextProduct m-0 p-0">شركة مجوهرات</p>
                    <p class="desList mt-2">تقود صيدليات العزبي مجال منتجات الرعاية الصحية والشخصية في مصر، ويمثل
                      تاريخها نجاح عظيم، بدأت المجموعة عام 1975 بصيدلية واحدة، ثم واصلت حتى أصبحت من أهم مؤسسات قطاع
                      الرعاية الصحية في مصر</p>
                  </div>
                  <div class="rate">
                    <h1 class="number">3.2</h1>
                    <div class="d-flex">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </li>

          <li class="box-for-categories shadow-sm mb-3" style="position: relative;">
            <a routerLink="/shopixservices">
              <img src="assets/images/shopix/doctor.png" alt="favourite" loading="lazy" class="image">
            </a>
            <div class="data p-2 w-100">
              <a routerLink="/shopixservices">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="desc">
                    <h1 class="textProduct fw-bolder">جوده محمد عواد</h1>
                    <p class="subTextProduct m-0 p-0">دكتور مسالك بولية</p>
                    <p class="desList mt-2">تقود صيدليات العزبي مجال منتجات الرعاية الصحية والشخصية في مصر، ويمثل
                      تاريخها نجاح عظيم، بدأت المجموعة عام 1975 بصيدلية واحدة، ثم واصلت حتى أصبحت من أهم مؤسسات قطاع
                      الرعاية الصحية في مصر</p>
                  </div>
                  <div class="rate">
                    <h1 class="number">3</h1>
                    <div class="d-flex">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </li>

          <li class="box-for-categories shadow-sm mb-3" style="position: relative;">
            <a routerLink="">
              <img src="assets/images/shopix/azaby.png" alt="favourite" loading="lazy" class="image">
            </a>
            <div class="data p-2 w-100">
              <a routerLink="">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="desc">
                    <h1 class="textProduct fw-bolder">صيدليات العزبي</h1>
                    <p class="subTextProduct m-0 p-0">محموعة صيدليات</p>
                    <p class="desList mt-2">تقود صيدليات العزبي مجال منتجات الرعاية الصحية والشخصية في مصر، ويمثل
                      تاريخها نجاح عظيم، بدأت المجموعة عام 1975 بصيدلية واحدة، ثم واصلت حتى أصبحت من أهم مؤسسات قطاع
                      الرعاية الصحية في مصر</p>
                  </div>
                  <div class="rate">
                    <h1 class="number">4</h1>
                    <div class="d-flex">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end categories -->

<app-bottombar></app-bottombar>

<app-footer></app-footer>
