<!-- start register page -->
<div class="container">
  <div class="row">
    <!-- data login -->
    <div class="col-12 col-md-6">
      <img class="imageLogo mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <form action="" class="text-center">
        <h1 class="textRegister"> انشاء حساب جديد</h1>
        <input type="text" name="" id="" placeholder="الايميل" required>
        <input type="number" name="" id="" placeholder="رقم الهاتف" required>
        <input type="password" name="" id="" placeholder="كلمة السر" required>
        <input type="password" name="" id="" placeholder="اعادة كتابة كلمة السر" required>
        <br>
        <input class="mt-4" type="submit" name="" id="" value="استمرار">
        <a routerLink="/login">
          <h1 class="textLogin mt-3" data-bs-toggle="tooltip" data-bs-placement="top" title="لدى حساب؟ تسجيل دخول">
            <span class="haveAccount">لدى حساب؟</span> تسجيل دخول
          </h1>
        </a>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <!-- image register -->
      <img class="imgRegister" src="assets/images/register/register.svg" alt="image register" loading="lazy">
    </div>
  </div>
</div>
<!-- end register page -->
