<!-- start register page -->
<div class="container">
  <div class="row">
    <!-- data login -->
    <div class="col-12 col-md-6">
      <img class="imageLogoMobile mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <form class="alignForm text-center" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
        <h1 class="textRegister"> انشاء <span class="textRegister2">حساب جديد</span></h1>
        <p class="line"></p>
        <div class="form-group">
          <input formControlName="email" type="email" id="" placeholder="الايميل" required>
          <br>
          <small *ngIf="registerForm.get('email')?.invalid &&registerForm.get('email')?.touched" class="text-danger">برجاء ادخال البريد الالكتروني   </small>
        </div>

        <div class="form-group">
          <input formControlName="phoneNumber" type="text" id="phoneNumber" placeholder="رقم الهاتف" required>
          <br>
          <small *ngIf="registerForm.get('phoneNumber')?.invalid &&registerForm.get('phoneNumber')?.touched" class="text-danger">برجاء ادخال رقم الهاتف  </small>
        </div>

        <div class="form-group">
          <input formControlName="password" type="password" name="" id="" placeholder="كلمة السر" required>
          <br>
          <small *ngIf="registerForm.get('password')?.invalid &&registerForm.get('password')?.touched" class="text-danger">برجاء كتابة كلمة السر</small>
        </div>

        <div class="form-group">
          <input formControlName="confirmPassword" type="password" name="" id="" placeholder="اعادة كتابة كلمة السر" required>
          <br>
          <small *ngIf="registerForm.get('confirmPassword')?.invalid &&registerForm.get('confirmPassword')?.touched" class="text-danger">برجاء اعادة كتابة كلمة السر</small>
        </div>

        <br>
        <button class="btn mt-4" type="submit">استمرار</button>
        <a routerLink="/login">
          <h1 class="textLogin mt-3" data-bs-toggle="tooltip" data-bs-placement="top" title="لدى حساب؟ تسجيل دخول">
            <span class="haveAccount">لدى حساب؟</span> تسجيل دخول
          </h1>
        </a>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <!-- image logo -->
      <img class="imageLogo mx-auto d-block" src="assets/images/logo/logo.png" alt="logo image" loading="lazy">
      <!-- image register -->
      <img class="imgRegister" src="assets/images/register/register.svg" alt="image register" loading="lazy">
    </div>
  </div>
</div>
<!-- end register page -->
