
/* start login */
.imageLogo{
  width: 343px;
  height: 118px;
  margin-top: 50px;
}

.textRegister{
  font-size: 16px;
  font-weight: 500;
  line-height: 44px;
  color: black;
  margin-top: 30px;
}

.textLogin{
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

.haveAccount{
  color: #b3acac;
}

.imgRegister{
  width: 100%;
  height: 600px;
  margin-top: 40px;
}

@media (max-width:768px) {
  .imgRegister{
    display: none;
  }
}
/* end login */
