<app-header></app-header>

<!-- start news dtails -->
<div class="container  mt-4 ">
  <!-- <h2 class="title">
    تفاصيل الخبر
  </h2> -->
  <div class="row">
    <div class="col-12 col-md-8">
      <p class="newsdesc">وزير التعليم: لا تعطيل للدراسة في مصر والتدريس مستمر حتى 10 يناير</p>
      <div class="d-flex align-items-center">
        <p class="newsdate">30 يناير 2022</p>
        &nbsp;&nbsp;&nbsp;
        <p class="newsdate"> أخبار تعليم#</p>
      </div>

      <div class="data">
        <img src="assets/images/ournews/news.png" class="imgnewsdetail" alt="news" loading="lazy">
        <p class="fulldesc mt-4">قال الدكتور طارق شوقي، وزير التربية والتعليم والتعليم الفني، إنه «لا تعطيل للدراسة في
          جمهورية مصر العربية وإنما إجراءات لحماية أبنائنا ومعلمينا واستكمال المحتوى التعليمي وإتمام التقييم العادل».
          التعليم للمرحلة الثانوية، ومنصة البث المباشر، ومنصة حصص مصر، وغيرها من الوسائل الرقمية)».</p>
        <button class="btn btnn"> تفاصيل الخبر ... </button>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="btns">
        <p class="titleCategories">الأقسام</p>
        <button class="btnnat">اقتصاد</button>
        <button class="btnnat">السياسة</button>
        <button class="btnnat">علوم وتكنولوجيا </button>
        <button class="btnnat">أخبار القضاء العالي </button>
        <button class="btnnat">النقل والمواصلات </button>
        <button class="btnnat">أخبار نقابة المحامين المصرية </button>
      </div>
      <div class="suggested">
        <p class="titlenews">قد يهمك أيضا</p>
        <div class="new">
          <img src="assets/images/ournews/news3.png" class="newimg" alt="new">
          <div class="newdesc ">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة ئيس محكمة المنيا يستقبل وفد مجلس
            النقابة العامة ئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة</div>
        </div>
        <div class="new">
          <img src="assets/images/ournews/news3.png" class="newimg" alt="new">
          <p class="newdesc  ">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة ئيس محكمة المنيا يستقبل وفد مجلس
            النقابة العامة ئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة</p>
        </div>
        <div class="new">
          <img src="assets/images/ournews/news3.png" class="newimg" alt="new">
          <p class="newdesc ">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة ئيس محكمة المنيا يستقبل وفد مجلس
            النقابة العامة ئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end newsdtails -->

<app-ournews></app-ournews>


<app-footer></app-footer>
