<!-- start suggest product -->
  <h1>نقترح عليك هذه المنتجات</h1>
  <swiper class="text-center mt-3"
  [slidesPerView]="3"
  [spaceBetween]="50"
  [loop]="true"
  [breakpoints]="{
    '0': {
      slidesPerView: 1,
      spaceBetween: 30
    },
    '600': {
      slidesPerView: 1.5,
      spaceBetween: 40
    },
    '1000': {
      slidesPerView: 3,
      spaceBetween: 50
    }
  }"
  [autoplay]= "{
    delay: 3000,
    disableOnInteraction: false
    }"
  >
  <ng-template swiperSlide>
    <img class="imgNews" src="assets/images/suggestproduct/suggest1.png" alt="suggest image" loading="lazy">
    <h1 class="title mt-2">وزير التعليم: لا تعطيل للدراسة ف مصر.. والتدريس مستمر حتى 10..</h1>
    <p class="subTitle">يتساءل الكثير من المواطنين، عن تنظيم القانون لطلب الاستدعاء من النيابة العامة، وعدم الالتزام بهذا الطلب، و"اليوم السابع" يوضح فى النقاط التالية ... كيف ينظم القانون تلك الوقائع</p>
  </ng-template>
  <ng-template swiperSlide>
    <img class="imgNews" src="assets/images/suggestproduct/suggest2.png" alt="suggest image" loading="lazy">
    <h1 class="title mt-2">ماذا تعرف عن استدعاء النيابة للمتهمين والشهود وكيف تتصرف حال عدم الحضور؟</h1>
    <p class="subTitle">يتساءل الكثير من المواطنين، عن تنظيم القانون لطلب الاستدعاء من النيابة العامة، وعدم الالتزام بهذا الطلب، و"اليوم السابع" يوضح فى النقاط التالية ... كيف ينظم القانون تلك الوقائع</p>
  </ng-template>
  <ng-template swiperSlide>
    <img class="imgNews" src="assets/images/suggestproduct/suggest3.png" alt="suggest image" loading="lazy">
    <h1 class="title mt-2">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة للمحامين</h1>
    <p class="subTitle">استقبل المستشار عمر سويدان، رئيس محكمة المنيا الابتدائية، صباح اليوم، وفد مجلس النقابة العامة للمحامين برئاسة الأستاذ مجدي سخى، القائم بأعمال نقيب المحامين، على هامش حضور أعضاء المجلس جلسة محاكمة الأساتذة المحامين في القضية المعروفة إعلاميا بـ «محامين مغاغة»، والتي تنظرها محكمة جنايات المنيا.</p>
  </ng-template>
  <ng-template swiperSlide>
    <img class="imgNews" src="assets/images/suggestproduct/suggest4.png" alt="suggest image" loading="lazy">
    <h1 class="title mt-2">رئيس محكمة المنيا يستقبل وفد مجلس النقابة العامة للمحامين</h1>
    <p class="subTitle">استقبل المستشار عمر سويدان، رئيس محكمة المنيا الابتدائية، صباح اليوم، وفد مجلس النقابة العامة للمحامين برئاسة الأستاذ مجدي سخى، القائم بأعمال نقيب المحامين، على هامش حضور أعضاء المجلس جلسة محاكمة الأساتذة المحامين في القضية المعروفة إعلاميا بـ «محامين مغاغة»، والتي تنظرها محكمة جنايات المنيا.</p>
  </ng-template>
  </swiper>
<!-- end suggest product -->
