<!-- start suggest product -->
<div class="container">
  <h1 class="title">نقترح عليك هذه المنتجات</h1>
  <swiper class="mt-4"
  [slidesPerView]="3"
  [spaceBetween]="50"
  [loop]="true"
  [breakpoints]="{
    '0': {
      slidesPerView: 1,
      spaceBetween: 30
    },
    '600': {
      slidesPerView: 1.5,
      spaceBetween: 40
    },
    '1000': {
      slidesPerView: 3,
      spaceBetween: 50
    }
  }"
  [autoplay]= "{
    delay: 3000,
    disableOnInteraction: false
    }"
  >
  <ng-template swiperSlide>
    <div class="details">
      <img class="imgSuggest" src="assets/images/suggestproduct/suggest1.png" alt="suggest image" loading="lazy">
      <p class="titleProduct">سلسال لمعان العنبر</p>
      <p class="price">16,125 جنيه</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="details">
      <img class="imgSuggest" src="assets/images/suggestproduct/suggest2.png" alt="suggest image" loading="lazy">
      <p class="titleProduct">خاتم شعاع تألق</p>
      <p class="price">12,555 جنيه</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="details">
      <img class="imgSuggest" src="assets/images/suggestproduct/suggest3.png" alt="suggest image" loading="lazy">
      <p class="titleProduct">خاتم تألق القلب</p>
      <p class="price">16,125 جنيه</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="details">
      <img class="imgSuggest" src="assets/images/suggestproduct/suggest4.png" alt="suggest image" loading="lazy">
      <p class="titleProduct">سلسال لمعان العنبر</p>
      <p class="price">16,125 جنيه</p>
    </div>
  </ng-template>
  </swiper>
</div>
<!-- end suggest product -->
