<app-header></app-header>

<div class="contactus">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="title">نسعي دائما للرد علي جميع الأسئلة</h1>
        <p class="desc">لديك بعض الأسئلة, الإبلاغ عن مشكلة, لديك بعض الاقتراحات؟ نحن هنا دوما لذلك دعنا نتحدث قليلا !
        </p>

        <!-- form contact -->
        <form>
          <input type="text" class="form-control" placeholder="الإسم">

          <input type="text" class="form-control" placeholder="إختار موضوع الرسالة">

          <textarea placeholder="رسالتك" class=" txtarea" rows="5"></textarea>
          <input type="submit" class="startconver" value="بدء المحادثه">
        </form>
      </div>

      <div class="col-12 col-md-4 d-none d-sm-block">
        <!-- image -->
        <img class="imgContact" src="assets/images/contact/contact.png" alt="contact" loading="lazy">
      </div>
    </div>

    <h1 class="faqs">يمكنك الوصول إلي بعض الردود علي ما يدور في ذهنك</h1>

    <!-- start question & answers -->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            ما هي إكسيم ؟
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            في إكسيم هدفنا الأول ان نجعل كل شيء يمكن استخدامه في الحياة اليومية أسهل وذكي والإستفادة الكاملة مع تقديم
            تجربة جديدة الإستخدام مع تقديم مميزات كثيرة لجميع الفئات مثل ( الشركات والمنشئات مثل إدارة كاملة للشركات
            الكبرى - الأفراد مثل المساعدة في إدارة المشاريع الكبيرة والصغيرة - والمستفدين من الخدمات والمنتجات لجعل
            الحياة أسهل</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ماذا تقدم إكسيم ؟
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            في إكسيم هدفنا الأول ان نجعل كل شيء يمكن استخدامه في الحياة اليومية أسهل وذكي والإستفادة الكاملة مع تقديم
            تجربة جديدة الإستخدام مع تقديم مميزات كثيرة لجميع الفئات مثل ( الشركات والمنشئات مثل إدارة كاملة للشركات
            الكبرى - الأفراد مثل المساعدة في إدارة المشاريع الكبيرة والصغيرة - والمستفدين من الخدمات والمنتجات لجعل
            الحياة أسهل
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            كيفية الإشتراك معنا
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            في إكسيم هدفنا الأول ان نجعل كل شيء يمكن استخدامه في الحياة اليومية أسهل وذكي والإستفادة الكاملة مع تقديم
            تجربة جديدة الإستخدام مع تقديم مميزات كثيرة لجميع الفئات مثل ( الشركات والمنشئات مثل إدارة كاملة للشركات
            الكبرى - الأفراد مثل المساعدة في إدارة المشاريع الكبيرة والصغيرة - والمستفدين من الخدمات والمنتجات لجعل
            الحياة أسهل
          </div>
        </div>
      </div>
    </div>
    <!-- end question & answers -->

  </div>
</div>

<app-footer></app-footer>
