.item-header-collapse{
  display: flex;
align-items: baseline;
justify-content: space-between;
cursor: pointer;

}
 .dash{
  display: none;
}
.mkradius{
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}
.serviceheading{
  cursor: pointer;
  display: flex;
margin-bottom: -15px;
}
.plus,.dash{
  height: fit-content;
  width: fit-content;
  border: 1px solid black;
margin-top: 2px;
  margin-left: 10px;
}
.servicesbody{
  font-size: 16px;
  margin-top: 0;
  padding-right: 35px;
}
#body1,#body2{
  display: none;
  flex-direction: column;
}

.textInput{
  height: fit-content;
  width: 100px;
}

.pricedesc{
  width: fit-content;
  margin: 0;
  padding: 0;
}
.price{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
