<!-- start filter -->
<div class="mkradius shadow-md">

  <div class="item-collapse">
    <div class="item-header-collapse">
      <p class="title fw-bold text-black">الموقع</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up icon"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
      </svg>
    </div>
    <div class="content-collapse">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check5">
        <label class="form-check-label" for="check5">
          مصر
        </label>
      </div>
    </div>
  </div>
  <div class="item-collapse">
    <div class="item-header-collapse">
      <p class="title fw-bold text-black">السعر</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down icon"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
      </svg>
    </div>
    <div class="content-collapse">
      <div class="price">
        <input type="number" name="max" class="textInput" min="1000" placeholder="1">
        <p class="pricedesc">الـــى</p>
        <input type="number" name="min" class="textInput" max="25000" placeholder="25000">
      </div>
    </div>
  </div>
  <div class="item-collapse">
    <div class="item-header-collapse">
      <p class="title fw-bold text-black">التقييم</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down icon"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
      </svg>
    </div>
    <div class="content-collapse">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check6">
        <label class="form-check-label" for="check6">
          جيد
        </label>
      </div>
    </div>
  </div>
</div>
<!-- end filter -->
