.pageNotFound{
  /* background-color: #f7f7fa; */
}
.ntitle{
  font-size:40px;
  font-weight: 700;
}
.imageError{
  height: 160px;
  width: 100%;
  margin-top: 50px;
}
.button{
  background-color: var(--primary);
  border-radius: 15px;
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  color: white;
  font-weight: 400;
}

.button:hover{
  background-color: black;
  transition: .3s all ease;
}
.ndesc{
  font-size: 20px;
  font-weight: 500;
  color:black;
}
.rtitle{
  font-size: 20px;
}
.rdesc{
  font-size: 15px;
}

.rc{
  flex-direction: column;
  display: flex;
  text-align: center;
}

.title{
  font-size: 15px;
}

.subTitle{
  font-size: 17px;
  font-weight: 500;
}

@media (max-width:1045px) {
  .ntitle{
    font-size: 30px;
    font-weight: 500;
  }
  .ndesc{
    font-size: 20px;
    font-weight: 400;
  }
  .dataNotFound{
    display: block !important;
  }
  .dataNotFound2{
    align-items: flex-start !important;
  }
  .imageError{
    height: 100px;
    width: 100%;
    margin-top: 50px;
  }
}

