<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="fcoloumn">
        <img src="assets\images\logo\logoorangeandwhite.svg " class="logoimg" alt="">
        <p >تقديم طلب الإنضمام إلي شركاء إكسيم</p>
        <p >رجاء قم بإختيار نشاطك الخاص بك</p>
        <div class="mt-3 kindofactivity">
          <p>نوع النشاط</p>
          <select class="form-select mt-3" aria-label="Default select example">
            <option selected>قم بإختيار نوع نشاطك</option>
            <option value="1">معالج</option>
            <option value="2">دكتور</option>
            <option value="3">طبيب</option>
          </select>
        </div>
        <button class="btn btn-sm mt-3">الإستمرار</button>
      </div>
      <div class="scoloumn">
        <img src="assets\images\logo\logoorangeandwhite.svg " class="logoimg" alt="">
        <p>تقديم طلب <br class="joinbr">الإنضمام إلي شركاء إكسيم</p>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                بيانات شخصية             </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body ">
                <div class="container">
                  <div class="row">
                    <div class="col-2 col-md-2">
                      <div class="textsaccord">
                        <div class="texts">
                          <p>الأسم</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-8 col-md-8">
                      <div class="inputs">
                        <input type="text" class="form-control" id="validationDefault03" required placeholder="الأسم">
                      </div>
                    </div>
                    <div class="col-2 col-md-2"></div>
                  </div>
                </div>

            <div class="inputsaccord"></div>
            <div class="photosaccord"></div>
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                بيانات العمل              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                في إكسيم هدفنا الأول ان نجعل كل شيء يمكن استخدامه في الحياة اليومية أسهل وذكي والإستفادة الكاملة مع تقديم تجربة جديدة الإستخدام مع تقديم مميزات كثيرة لجميع الفئات مثل ( الشركات والمنشئات مثل إدارة كاملة للشركات الكبرى - الأفراد مثل المساعدة في إدارة المشاريع الكبيرة والصغيرة - والمستفدين من الخدمات والمنتجات لجعل الحياة أسهل
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                تخضيص النظام
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                في إكسيم هدفنا الأول ان نجعل كل شيء يمكن استخدامه في الحياة اليومية أسهل وذكي والإستفادة الكاملة مع تقديم تجربة جديدة الإستخدام مع تقديم مميزات كثيرة لجميع الفئات مثل ( الشركات والمنشئات مثل إدارة كاملة للشركات الكبرى - الأفراد مثل المساعدة في إدارة المشاريع الكبيرة والصغيرة - والمستفدين من الخدمات والمنتجات لجعل الحياة أسهل
              </div>
            </div>
          </div>
        </div>

<div class="d-flex">
  <button class="btn btn-2-next btn-sm mt-3">الأستمرار و الدفع</button>
  <button class="btn btn-2-prev btn-sm mt-3">الرجوع</button>
</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-5">
  <div class="ordernowimgtext">
    <img src="assets\images\makeordernow\img.svg" class="imgordernow" alt="">
    <p class="imgtitle">طلبك قيد الإنشاء</p>
    <p class="imgdesc">إجابتك علي بعض الأسئلة حول العمل الخاص بك سيتيح لنا مساعدتك بشكل أفضل لم ولعملك</p>
  </div>
  </div>
</div>
