<div class="bottom-appbar">
  <div class="tabs">
      <div class="tab tab--right is-active">
          <i class="fa fa-home text-black"></i>
          <span>الرئيسية</span>
      </div>
      <div class="tab tab--left">
          <i class="fa fa-search text-black"></i>
          <span>Chat</span>
      </div>
      <div class="tab tab--fab">
          <div class="top">
              <div class="fab">
                <i class="fa fa-search text-white"></i>
              </div>
          </div>
      </div>
      <div class="tab tab--right">
          <i class="fa fa-search text-black"></i>
          <span>Favourites</span>
      </div>
      <div class="tab tab--left">
          <i class="fa fa-search text-black"></i>
          <span>Favourites</span>
      </div>
  </div>
</div>
