<!-- start our program -->
<div class="ourProgram">
  <div class="container-fluid">
    <h1 class="titleOurProgram text-center">أشهر البرامــج لدينا</h1>
    <p class="line"></p>
    <p class="subTitle text-center mt-2">لدينا العديد من البرامج اللى تتيح لك الاريحية لنفيذ كل مطالبك بسهولة تامة مضمنة خلال اكسيم</p>
    <!-- program 1 -->
    <div class="program">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="data">
            <h1 class="textTitle">برنامج ادارة مبيعات شامل لتحقيق أرباحك المستهدفة</h1>
            <p class="textTitle2">
              أصدر فواتيرك الإلكترونية والضريبية وعروض الأسعار بقوالب
              جاهزة قابلة للتخصيص حسب احتياجاتك ، وحدد العروض على
              منتجاتك أو خدماتك، إلى جانب إمكانية إدارة التأمينات
              ومدفوعات العملاء مع خيارات دفع متعددة أدِر عمليات البيع
              من خلال نقاط البيع أو واجهة التسوق عبر الإنترنت ، بما في
              ذلك تحديد مبيعاتك المستهدفة وعمولات ممثلي المبيعات
              لديك  ، مع تقارير تفصيلية لمتابعة العملية بأكملها
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="imageProgram img-responsive mx-auto d-block" src="assets/images/ourprogram/sales.png" alt="image program">
        </div>
      </div>
    </div>
    <!-- program 2 -->
    <div class="program">
      <div class="row">
        <div class="col-12 col-md-6">
          <img class="imageProgram img-responsive mx-auto d-block" src="assets/images/ourprogram/managment.png" alt="image program">
        </div>
        <div class="col-12 col-md-6">
          <div class="data2">
            <h1 class="textTitle">برنامج محاسبة وقيود يومية متكامل لمتابعة أكثر دقة لأعمالك</h1>
            <p class="textTitle2">
              تابع دفاتر حساباتك وقيود اليومية في شركتك وتتبع المعاملات
              المختلفة وراقب المصروفات والإيرادات لديك بالإضافة إلى دليل
              حسابات جاهز وقابل للتعديل حسب احتياجاتك وأدِر الماليات والأصول
              بين فروع شركتك المختلفة باحترافية مع متابعة دقيقة للتدفقات
              النقدية ومراكز التكلفة والموازنة العامة راقب الأداء مع تقارير
              مفصلة عن الأرباح والخسائر لديك
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- program 3 -->
    <div class="program">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="data">
            <h1 class="textTitle">برنامج دورة العمل لتدفق أعمال أكثر سلاسة</h1>
            <p class="textTitle2">
                            أدِر دورة العمل في شركتك بكفاءة وسلاسة وأصدِر أوامر الشغل
            وتتبع النفقات وعيِّن الموظفين للمهمات المختلفة إلى جانب
            إدارة المواعيد والحجوزات بما يتوافق مع وردية عمل موظفيك
            و تتبع الوقت المستغرق في العمل على مشروعاتك سواء لفريق
            الموظفين الداخلي أو الموظفين المستقلين، واجمع الفواتير
            واحسب التكاليف لكل مشروع على حدة، مع مراقبة أداء تفصيلية
            عبر التقارير المالية والأرباح والخسائر والتقدم المُحرَز فيما يخص
            مشروعاتك المختلفة في الوقت الفعلي بدقة
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="imageProgram img-responsive mx-auto d-block" src="assets/images/ourprogram/work.png" alt="image program">
        </div>
      </div>
    </div>
    <!-- program 4 -->
    <div class="program">
      <div class="row">
        <div class="col-12 col-md-6">
          <img class="imageProgram img-responsive mx-auto d-block" src="assets/images/ourprogram/relations.png" alt="image program">
        </div>
        <div class="col-12 col-md-6">
          <div class="data2">
            <h1 class="textTitle">برنامج ادارة علاقات العملاء لضمان رضا عميلك</h1>
            <p class="textTitle2">
                            اضمن ولاء عملائك ورضاهم من خلال تطبيقات إدارة علاقات العملاء
              التي يوفرها اكسيم وأنشئ ملفات تعريفية لعملائك ببيانات
              تفصيلية سواء كانوا عملاء فرديين أو تجاريين بما في ذلك بيانات
              التواصل والبيانات التجارية من سجل تجاري وبطاقة ضريبية وغيرها
              وكن على تواصل دائم مع عميلك وشاركه كل جديد فيما يخص
              العروض أو الحجوزات والحضور من خلال الرسائل النصية أو البريد
              الإلكتروني ونظِّم مواعيد عملائك وعيِّن الموظفين المسؤولين
              عنهم وأدِر عضوياتهم واشتراكاتهم وسجلات حضورهم وإلى جانب
              التقارير التفصيلية لتفاصيل المديونيات والمواعيد والحضور والنقاط
              والأرصدة وغيرها لتقوية علاقاتك بالعملاء وتحقيق المزيد من الأرباح
              المستهدفة
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- program 5 -->
    <div class="program">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="data">
            <h1 class="textTitle">برنامج ادارة المخزون والموردين لتتبعحركةمنتجاتك بفعالية  </h1>
            <p class="textTitle2">
              أدِر مخزونك ومستودعاتك بكفاءة مع تطبيق إدارة المخزون
              والمشتريات من اكسيم وأضِف المنتجات أو الخدمات التي
              تقدمها لعملائك ببياناتها التفصيلية , وأصدِر الأذون المخزنية
              لها سواء بالإضافة أو الصرف أو التحويل بين مستودعاتك
              المختلفة , ومع إشعارات بالوصول إلى حد معين تحدده
              حسب المطلوب لمراقبة مستويات المخزون لديك ,وأنشئ
              فواتير الشراء وأرسلها إلى مورديك قبل نفاد كميات المخزون
              ومع إدارة احترافية لمورديك وفواتير الشراء وأوامر الشغل التي
              تقوم بإصدارها , وحدد صلاحيات معينة لموظفيك فيما يتعلق
              بالمستودعات أو الفروع أو الموردين لتدفق عمل أكثر سلاسة
              من شأنه زيادة أرباحك ورفع مستوى إدارة أعمالك
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="imageProgram img-responsive mx-auto d-block" style="width:450px !important;" src="assets/images/ourprogram/stock.png" alt="image program">
        </div>
      </div>
    </div>
    <!-- program 6 -->
    <div class="program">
      <div class="row">
        <div class="col-12 col-md-6">
          <img class="imageProgram img-responsive mx-auto d-block" src="assets/images/ourprogram/empolyee.png" alt="image program">
        </div>
        <div class="col-12 col-md-6">
          <div class="data2">
            <h1 class="textTitle">برنامج ادارة شؤون الموظفين لضمان سير لأعمال أكثر كفاءة    </h1>
            <p class="textTitle2">
                            اضمن ولاء عملائك ورضاهم من خلال تطبيقات إدارة علاقات العملاء
              التي يوفرها اكسيم وأنشئ ملفات تعريفية لعملائك ببيانات
              تفصيلية سواء كانوا عملاء فرديين أو تجاريين بما في ذلك بيانات
              التواصل والبيانات التجارية من سجل تجاري وبطاقة ضريبية وغيرها
              وكن على تواصل دائم مع عميلك وشاركه كل جديد فيما يخص
              العروض أو الحجوزات والحضور من خلال الرسائل النصية أو البريد
              الإلكتروني ونظِّم مواعيد عملائك وعيِّن الموظفين المسؤولين
              عنهم وأدِر عضوياتهم واشتراكاتهم وسجلات حضورهم وإلى جانب
              التقارير التفصيلية لتفاصيل المديونيات والمواعيد والحضور والنقاط
              والأرصدة وغيرها لتقوية علاقاتك بالعملاء وتحقيق المزيد من الأرباح
              المستهدفة
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end our program -->
