.ourServices{
  margin-top: 30px;
}

.mostDepartment{
  background-color: var(--primary);
  border-radius: 30px;
  margin-top: 30px;
}

.buttonAlign{
  margin-right: 30px;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 6px !important;
  border-radius: 6px !important;
}

.btn-group-vertical>.btn~.btn {
  border-radius: 6px !important;
  border-radius: 6px !important;
}

.btnDepartment{
  padding: 10px 60px;
  background-color: #33465a;
  font-weight: 400;
}

.btnDepartment:hover,.icon:hover{
  padding: 10px 60px;
  background-color: white !important;
  color: black !important;
  font-weight: 400;
}

.text1{
  color: white;
  font-weight: 600;
  font-size: 23px;
}

.text2{
  color: var(--colorText);
}

.subTitle{
  color: #949da6;
}

.swiperDepartment{
  border: 2px solid var(--primary);
  margin-top: 30px;
  border-radius: 30px;
}

.imgSale{
  width: 143px;
  height: 143px;
}

.btnDep{
  border: none;
  background-color: var(--colorText);
  color: white;
  border-radius: 3px;
  padding: 10px 20px;
  white-space: nowrap;
  font-weight: 500;
  box-shadow: none !important;
}

.textSwiper{
  font-size: 14px;
}
