<!-- start our services -->
<div class="ourServices">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="mostDepartment p-5">
          <h1 class="text1">أشهر <span class="text2">الادارات</span></h1>
          <p class="subTitle">مع نظام اكسيم يمكنك الاستفادة بالعديدمن الادارات للمساعدة ف عملية المبيعات والمخزن ومتابعة الموظفين ... والمزيد من الامتيازات لتبقى دواما ف المقدمة</p>
          <div class="d-flex">
            <div class="btn-group btn-group-vertical" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btnDepartment mb-3">ادارة المبيعات </button>
              <button type="button" class="btn btnDepartment mb-3">ادارة دورة العمل</button>
              <button type="button" class="btn btnDepartment mb-3">ادارة المحاسبة العامة</button>
            </div>
            <div class="buttonAlign btn-group btn-group-vertical" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btnDepartment mb-3">ادارة المخزون</button>
              <button type="button" class="btn btnDepartment mb-3">ادارة شوؤن الموظفين </button>
              <button type="button" class="btn btnDepartment mb-3">ادارة علاقات العملاء</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="swiperDepartment p-5">
          <img class="imgSale mx-auto d-block" src="assets/images/servimage/sales.png" alt="sales image" loading="lazy">
          <swiper class="text-center mt-3"
            [slidesPerView]="1"
            [spaceBetween]="50"
            [loop]="true"
            [autoplay]= "{
              delay: 3000,
              disableOnInteraction: false
              }"
              >
            <ng-template swiperSlide><p class="textSwiper m-0 p-0">أصدر فواتيرك الالكترونية والضريبية وعروض الأسعار بقوالبجاهزة  قابلة للتخصيص حسب احتياجاتك</p></ng-template>
            <ng-template swiperSlide><p class="textSwiper m-0 p-0">حدد العروض ع منتاجاتك أو خدماتك, الى جانب امكانية ادارة التأمينات والمدفوعات مع طرق دفع متعددة</p></ng-template>
            <ng-template swiperSlide><p class="textSwiper m-0 p-0">أدر عمليات البيع من خلال نقاط البيع أو واجهة التسوق عبر الأنترنت, بما في ذلك تحديد مبيعاتك المستهدفة وعمولات ممثلى المبيعات لديك</p></ng-template>
            <ng-template swiperSlide><p class="textSwiper m-0 p-0">تقاير تفصيلية لمتابعة العملية باكملها والمساعدة فى اتخاذ قرارات مستقبلية سليمة</p></ng-template>
          </swiper>
          <button class="btnDep mt-2 mx-auto d-block">قدم طلبك الأن</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end our services -->
