

<div class="ourServices">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <!-- start modal adaret elmabeaat -->
      <div class="swiper-slide">
        <div class="data">
          <img class="imageData" src="assets/images/servimage/1.jpg" alt="services iamge" loading="lazy" data-bs-toggle="modal" href="#exampleModalToggle1">
          <p class="stitle" data-bs-toggle="modal" href="#exampleModalToggle1">إدارة المبيعات</p>
        </div>
      </div>
      <!-- start modal adaret elmohasba elaama -->
      <div class="swiper-slide">
        <div class="data">
          <img class="imageData" src="assets/images/servimage/2.jpg" alt="services iamge" loading="lazy" data-bs-toggle="modal" href="#exampleModalToggle2">
          <p class="stitle" data-bs-toggle="modal" href="#exampleModalToggle2">إدارة المحاسبه العامه</p>
        </div>
      </div>
      <!-- start modal adaret elma5zon -->
      <div class="swiper-slide">
        <div class="data">
          <img class="imageData" src="assets/images/servimage/3.jpg" alt="services iamge" loading="lazy" data-bs-toggle="modal" href="#exampleModalToggle3">
          <p class="stitle" data-bs-toggle="modal" href="#exampleModalToggle3">إدارة المخزون</p>
        </div>
      </div>
      <!-- start modal adaret  شؤون الموظفين-->
      <div class="swiper-slide">
        <div class="data">
          <img class="imageData" src="assets/images/servimage/4.png" alt="empolyee" loading="lazy" data-bs-toggle="modal" href="#exampleModalToggle4">
          <p class="stitle" data-bs-toggle="modal" href="#exampleModalToggle4">إدارة شؤون الموظفين</p>
        </div>
      </div>
      <!-- start modal adaret إدارة دورة العمل -->
      <div class="swiper-slide">
        <div class="data">
          <img class="imageData" src="assets/images/servimage/5.jpg" alt="services iamge" loading="lazy" data-bs-toggle="modal" href="#exampleModalToggle5">
          <p class="stitle" data-bs-toggle="modal" href="#exampleModalToggle5">إدارة دورة العمل</p>
        </div>
      </div>
      <!-- start modal adaret إدارة علاقات العملاء -->
      <div class="swiper-slide">
        <div class="data">
          <img class="imageData" src="assets/images/servimage/6.jpg" alt="services iamge" loading="lazy" data-bs-target="#exampleModalToggle6" data-bs-toggle="modal" data-bs-dismiss="modal">
          <p class="stitle" data-bs-target="#exampleModalToggle6" data-bs-toggle="modal" data-bs-dismiss="modal">إدارة علاقات العملاء</p>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>


<!-- start modal adaret elmabeaat -->
<div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mtitle">إدارة المبيعات</h2>
              <p class="line"></p>
              <h5 class="desc"> الفاتورة الإلكترونية والضريبية ونقاط البيع
                والمتجر الإلكتروني والمبيعات المستهدفة
                والعمولات والأقساط والعروض والتأمينات</h5>
            </div>
            <div class="col-md-6">
              <img class="mpic" src="assets/images/servimage/1.jpg" alt="services iamge" loading="lazy">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal adaret elmabeaat -->

<!-- start modal adaret elmohasba elaama -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mtitle">إدارة المحاسبه العامه</h2>
              <p class="line"></p>
              <h5 class="desc"> المالية والحسابات العامة وقيود اليومية
                ودورة الشيكات ودليل الحسابات والأصول
                ومراكز التكلفة وحساب الأستاذ والتقارير المالية</h5>
            </div>
            <div class="col-md-6">
              <img class="mpic" src="assets/images/servimage/2.jpg" alt="services iamge" loading="lazy">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal adaret 3laket -->

<!-- start modal adaret elma5zon -->
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mtitle">إدارة المخزون</h2>
              <p class="line"></p>
              <h5 class="desc"> المنتجات والخدمات وتتبع المخزون
                والمشتريات والموردون والمستودعات
                والجرد وقوائم الأسعار والأذون المخزنية</h5>
            </div>
            <div class="col-md-6">
              <img class="mpic" src="assets/images/servimage/3.jpg" alt="services iamge" loading="lazy">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal adaret elma5zon -->

<!-- start modal adaret  شؤون الموظفين-->
<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mtitle">إدارة شؤون الموظفين</h2>
              <p class="line"></p>
              <h5 class="desc"> الموظفين والهيكل التنظيمي وحضور
                الموظفين العقود والمرتبات والطلبات
                والإجازات والسلف</h5>
            </div>
            <div class="col-md-6">
              <img class="mpic" src="assets/images/servimage/4.png" alt="empolyee" loading="lazy">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal adaret شؤون الموظفين -->

<!-- start modal adaret إدارة دورة العمل -->
<div class="modal fade" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mtitle">إدارة دورة العمل</h2>
              <p class="line"></p>
              <h5 class="desc"> أوامر الشغل والحجوزات وتتبع الوقت </h5>
            </div>
            <div class="col-md-6">
              <img class="mpic" src="assets/images/servimage/5.jpg" alt="services iamge" loading="lazy">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal adaret إدارة دورة العمل -->

<!-- start modal adaret إدارة علاقات العملاء -->
<div class="modal fade" id="exampleModalToggle6" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mtitle">إدارة علاقات العملاء</h2>
              <p class="line"></p>
              <h5 class="desc"> إدارة العملاء ومتابعة العملاء والمواعيد
                والنقاط والأرصدة والعضويات والاشتراكات
                وحضور العملاء</h5>
            </div>
            <div class="col-md-6">
              <img class="mpic" src="assets/images/servimage/6.jpg" alt="services iamge" loading="lazy">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal adaret إدارة علاقات العملاء -->
