    <!-- start footer -->
    <div class="footer">
      <div class="footer-image">
            <div class="container">
                <div class="row">
                    <!-- first col -->
                    <div class="col-12 col-md-3">
                        <div class="dataFooter">
                            <img width="130" height="60" src="assets/images/logo/logowhite.png" alt="logo footer" loading="lazy">
                            <ul class="d-flex icon-footer mt-2">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-whatsapp m-2 text-white"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f m-2 text-white"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram m-2 text-white"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in m-2 text-white"></i>
                                    </a>
                                </li>
                            </ul>
                            <p class="mt-2 text-white" style="font-size:11px;">جميع الحقوق محفوظة <a href="https://paymac.net/"
                                    target="_blank">لشركة إكسيم @2022</a></p>
                        </div>
                    </div>
                    <!-- second col -->
                    <div class="col-12 col-md-3 links">
                        <p class="text-white text-footer">روابط سريعة</p>
                        <ul>
                          <li class="itemFooter"><a routerLink="">من نحن</a></li>
                          <li class="itemFooter"><a routerLink="">شاتكس</a></li>
                          <li class="itemFooter"><a routerLink="">أتصل بنا</a></li>
                          <li class="itemFooter"><a routerLink="">الخصوصية</a></li>
                          <li class="itemFooter"><a routerLink="">الشروط والاحكام</a></li>
                        </ul>
                    </div>
                    <!-- third col -->
                    <div class="col-12 col-md-3 links">
                        <p class="text-white text-footer">العملاء</p>
                        <ul>
                          <li class="itemFooter"><a routerLink="/login">تسجيل الدخول</a></li>
                          <li class="itemFooter"><a routerLink="/register">انشاء حساب</a></li>
                        </ul>
                    </div>
                    <!-- fourth col -->
                    <div class="col-12 col-md-3">
                        <p class="text-white text-footer">اتصل بنا</p>
                        <ul>
                          <li class="itemFooter"><a href="mailto:info@exseem.com"><i class="fas fa-envelope text-white m-2"></i> info@exseem.com</a></li>
                          <li class="itemFooter"><a href="tel:+201030358756"><i class="fa fa-phone text-white m-2"></i> 01030358756</a></li>
                          <li class="itemFooter d-flex"><i class="fas fa-map-marker-alt text-white m-2"></i> كورنيش المعادى 2 برج متوسط ابراج المعادى</li>
                        </ul>
                    </div>
                </div>
            </div>
      </div>
  </div>
  <!-- end footer -->
