    <!-- start footer -->
    <div class="footer">
      <div class="footer-image">
            <div class="container">
                <div class="row">
                    <!-- first col -->
                    <div class="col-12 col-md-3">
                        <div class="dataFooter">
                            <img width="130" height="60" src="assets/images/logo/logowhite.png" alt="logo footer" loading="lazy">
                            <ul class="d-flex icon-footer mt-2">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-whatsapp m-2 text-white"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f m-2 text-white"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram m-2 text-white"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in m-2 text-white"></i>
                                    </a>
                                </li>
                            </ul>
                            <p class="mt-2 text-white" style="font-size:11px;">جميع الحقوق محفوظة <a href="https://paymac.net/"
                                    target="_blank">لشركة إكسيم @2022</a></p>
                        </div>
                    </div>
                    <!-- second col -->
                    <div class="col-12 col-md-3 links">
                        <p class="text-white text-footer">روابط سريعة</p>
                        <ul>
                          <li class="itemFooter"><a routerLink="">الرئيسية</a></li>
                          <li class="itemFooter"><a routerLink="">شوب اكس</a></li>
                          <li class="itemFooter"><a routerLink="">شات اكس</a></li>
                          <li class="itemFooter"><a routerLink="">درايف اكس</a></li>
                          <li class="itemFooter"><a routerLink="">تواصل معنا</a></li>
                        </ul>
                    </div>
                    <!-- third col -->
                    <div class="col-12 col-md-3 links">
                        <p class="text-white text-footer">العملاء</p>
                        <ul>
                          <li class="itemFooter"><a routerLink="/login">تسجيل الدخول</a></li>
                          <li class="itemFooter"><a routerLink="/register">انشاء حساب</a></li>
                        </ul>
                    </div>
                    <!-- fourth col -->
                    <div class="col-12 col-md-3">
                        <p class="text-white text-footer">اتصل بنا</p>
                        <ul>
                          <li class="itemFooter1"><img class="image" src="assets/images/footer/app-store.png" alt="apple store image" loading="lazy"></li>
                          <li class="itemFooter1"><img class="image" src="assets/images/footer/play-store.png" alt="play store image" loading="lazy"></li>
                          <li class="itemFooter1"><img class="image" src="assets/images/footer/huawei-store.png" alt="huawei store image" loading="lazy"></li>
                        </ul>
                    </div>
                </div>
                <ul class="alignSubFooter d-flex justify-content-center m-0 p-0">
                  <li class="alignSubFooter">
                    <a class="text" routerLink="">خصوصية الأستخدام</a>
                  </li>
                  <li class="alignSubFooter">
                    <a class="text" routerLink="">الشروط والأحكام</a>
                  </li>
                  <li class="alignSubFooter">
                    <a class="text" routerLink="">الأسئلة الشائعة</a>
                  </li>
                </ul>
                <p class="line mt-3"></p>
                <p class="text-center mt-3 subText">جميع الحقوق محفوظة لشركة <a routerLink="">اكسيم</a> @2022</p>
            </div>
      </div>
    </div>
    <!-- end footer -->
