<!-- start footer -->
<div class="footer">
  <div class="footer-image">
        <div class="container">
            <div class="row">
                <!-- first col -->
                <div class="col-12 col-md-5">
                    <div class="dataFooter">
                        <img width="130" height="60" src="assets/images/logo/logowhite.png" alt="logo footer" loading="lazy">
                        <p class="mt-3 text-white-50 descFooter">مع نظام إكسيم يمكنك الاستفادة بالعديد من الإدارات للمساعدة في عملية المبيعات والمخزن ومتابعة الموظفين والمزيد من الامتيازات لتبقي داوما في المقدمة</p>
                        <p class="m-0 p-0 text-white textSocial">أعرف كل جديد عنا</p>
                          <ul class="d-flex icon-footer mt-1">
                              <li class="circleIcon">
                                  <a href="#">
                                      <i class="fab fa-whatsapp m-2 text-white"></i>
                                  </a>
                              </li>
                              <li class="circleIcon">
                                  <a href="#">
                                      <i class="fab fa-facebook-f m-2 text-white"></i>
                                  </a>
                              </li>
                              <li class="circleIcon">
                                  <a href="#">
                                      <i class="fab fa-instagram m-2 text-white"></i>
                                  </a>
                              </li>
                              <li class="circleIcon">
                                  <a href="#">
                                      <i class="fab fa-linkedin-in m-2 text-white"></i>
                                  </a>
                              </li>
                          </ul>
                    </div>
                </div>
                <!-- second col -->
                <div class="col-12 col-md-4 links">
                    <p class="text-white text-footer">روابط هامة</p>
                    <ul>
                      <li><a class="itemFooter" routerLink="/home">الرئيسية</a></li>
                      <li><a class="itemFooter" routerLink="">شوب اكس</a></li>
                      <li><a class="itemFooter" routerLink="">شات اكس</a></li>
                      <li><a class="itemFooter" routerLink="">درايف اكس</a></li>
                      <li><a class="itemFooter" routerLink="/contact">تواصل معنا</a></li>
                    </ul>
                </div>
                <!-- fourth col -->
                <div class="col-12 col-md-3">
                    <p class="text-white text-footer">أحصل على تطبيق اكسيم</p>
                    <ul>
                      <li class="itemFooter1"><img class="image" src="assets/images/footer/app-store.png" alt="apple store image" loading="lazy"></li>
                      <li class="itemFooter1"><img class="image" src="assets/images/footer/play-store.png" alt="play store image" loading="lazy"></li>
                      <li class="itemFooter1"><img class="image" src="assets/images/footer/huawei-store.png" alt="huawei store image" loading="lazy"></li>
                    </ul>
                </div>
            </div>
            <ul class="alignSubFooter d-flex justify-content-center m-0 p-0">
              <li class="alignSubFooter">
                <a class="text" routerLink="">خصوصية الأستخدام</a>
              </li>
              <li class="alignSubFooter">
                <a class="text" routerLink="">الشروط والأحكام</a>
              </li>
              <li class="alignSubFooter">
                <a class="text" routerLink="">الأسئلة الشائعة</a>
              </li>
            </ul>
            <p class="line mt-3"></p>
            <p class="text-center mt-3 subText">جميع الحقوق محفوظة لشركة <a routerLink="">اكسيم</a> @2022</p>
        </div>
  </div>
</div>
<!-- end footer -->
