/* start footer */
.footer-image {
  background-color: var(--primary);
  padding: 61px 10px 1px;
  margin-top: 30px;
}

.text-footer{
    font-size: 19px;
    font-weight: 700;
    line-height: 27px;
    text-transform: capitalize;
}

.icon-footer{
    padding-left: 0px !important;
}

.itemFooter{
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.itemFooter:hover{
  color: var(--colorText);
  transition: .1s all ease-in-out;
  padding-right: 6px;
}

.alignSubFooter{
  margin: 10px 42px;
  color: white;
  margin-top: 20px;
  font-size: 14px;
}

.text{
  cursor: pointer;
}

.text:hover{
  color: var(--colorText);
}

.subText{
  color: white;
  font-size: 13px;
}

.line{
  border-bottom: 1px solid rgb(94, 91, 91);
}

.image{
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.itemFooter1{
  margin-bottom: 8px;
}

.itemFooter1:hover{
  transform: scale(1.1);
  transition: .4s all ease-in-out;
}

.circleIcon{
  background-color: #4b5b6a;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.textSocial{
  font-weight: 500;
}

@media (max-width:768px) {
  .footer{
    text-align: center;
  }
  .itemFooter{
    text-align: center;
    padding-right: 30px;
  }
    .iconss{
        text-align: center;
    }
    .icon-footer{
        justify-content: center;
        padding-right: 0px !important;
    }
    .itemFooter:hover{
      color: var(--colorText);
      transition: .1s all ease-in-out;
      padding-right: 0px;
    }
    .links{
      padding-left: 0px;
    }
    .alignSubFooter{
      display: block !important;
    }
    .alignSubFooter{
      padding-right: 0px !important;
    }
    .itemFooter1:hover{
      transform: scale(1);
    }
    .image{
      width: 160px;
      height: 50px;
      cursor: pointer;
    }
}
/* end footer */
